In [8]:
import os
import pandas as pd
import numpy as np

In [5]:
!gdown 1R8waoO4GA-0SiyfadnSDcY4FeuNkTV3A
! pip install -q kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download joniarroba/noshowappointments
!unzip noshowappointments.zip
os.rename('KaggleV2-May-2016.csv', 'NoShow_Appointments_2016_kaggle.csv')
os.remove("noshowappointments.zip")

Downloading...
From: https://drive.google.com/uc?id=1R8waoO4GA-0SiyfadnSDcY4FeuNkTV3A
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 119kB/s]
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading noshowappointments.zip to /content
  0% 0.00/2.40M [00:00<?, ?B/s]
100% 2.40M/2.40M [00:00<00:00, 158MB/s]

In [26]:
data = pd.read_csv('NoShow_Appointments_2016_kaggle.csv')
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [27]:
data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'])
data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'])
data['Remaining_days'] = data['AppointmentDay'] - data['ScheduledDay']
data['No-show'] = data['No-show'].map({'No':0, 'Yes':1})
data = data[['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay','AppointmentDay','Remaining_days', 'Age',
             'Neighbourhood','Scholarship', 'Hipertension','Diabetes', 'Alcoholism', 'Handcap',
             'SMS_received', 'No-show']]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  datetime64[ns, UTC]
 4   AppointmentDay  110527 non-null  datetime64[ns, UTC]
 5   Remaining_days  110527 non-null  timedelta64[ns]
 6   Age             110527 non-null  int64
 7   Neighbourhood   110527 non-null  object
 8   Scholarship     110527 non-null  int64
 9   Hipertension    110527 non-null  int64
 10  Diabetes        110527 non-null  int64
 11  Alcoholism      110527 non-null  int64
 12  Handcap         110527 non-null  int64
 13  SMS_received    110527 non-null  int64
 14  No-show         110527 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(1), int64(9), object(2), timedelta64[ns](1)
memory usage: 12.6+ MB